## **DataBase**

### **연결**

In [1]:
import pymysql

EF_DB = pymysql.connect(host='220.90.200.176',
                       port=3306,
                       user='multi',
                       passwd='multi!)@(',
                       db = 'EasyFree',
                       charset='utf8')

cursor = EF_DB.cursor()

### **검색**

In [2]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'),)

### **삽입**

In [3]:
sql2 = """
    INSERT INTO Category(category_idx,category_name)
    VALUES (2,'바나나')
"""

cursor.execute(sql2)
EF_DB.commit()

In [4]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'), (2, '바나나'))

### **수정**

In [5]:
sql3 = """
    UPDATE Category
    SET category_name = '키위'
    WHERE category_idx = 2
"""

cursor.execute(sql3)
EF_DB.commit()

In [6]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'), (2, '키위'))

### **삭제**

In [8]:
sql4 = """
    DELETE FROM Category WHERE category_idx = 2
"""

cursor.execute(sql4)
EF_DB.commit()

In [9]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'),)

### **class화**

In [ ]:
import pymysql


class Python2DB():
    def __init__(self):
        self.EF_DB = pymysql.connect(host='220.90.200.176',
                                port=3306,
                                user='multi',
                                passwd='multi!)@(',
                                db='EasyFree',
                                charset='utf8')

        self.cursor = self.EF_DB.cursor()

    def select(self):
        sql_qr = """
            SELECT * FROM Category
        """
        self.cursor.execute(sql_qr)
        re = self.cursor.fetchall()
        print(re)

    def insert(self):
        sql_qr2 = """
            INSERT INTO Category(category_idx,category_name)
            VALUES (2,'바나나')
        """
        self.cursor.execute(sql_qr2)
        self.EF_DB.commit()

    def update(self):
        sql_qr3 = """
            UPDATE Category
            SET category_name = '키위'
            WHERE category_idx = 2
        """
        self.cursor.execute(sql_qr3)
        self.EF_DB.commit()

    def delete(self):
        sql_qr4 = """
            DELETE FROM Category WHERE category_idx = 2
        """
        self.cursor.execute(sql_qr4)
        self.EF_DB.commit()

In [1]:
import pymysql


class Python2DB():
    def __init__(self):
        self.EF_DB = pymysql.connect(host='220.90.200.176',
                                port=3306,
                                user='multi',
                                passwd='multi!)@(',
                                db='EasyFree',
                                charset='utf8')

        self.cursor = self.EF_DB.cursor()

    def select(self, table, column):
        sql_qr = """
            SELECT {0} FROM {1}
        """.format(column, table)
        self.cursor.execute(sql_qr)
        re = self.cursor.fetchall()
        print(re)

    def insert(self, table, columns, values):
        sql_qr2 = """
            INSERT INTO {0}({1})
            VALUES ({2})
        """.format(table, columns, values)
        self.cursor.execute(sql_qr2)
        self.EF_DB.commit()

    def update(self, table, set_content, where_content):
        sql_qr3 = """
            UPDATE {0}
            SET {1}
            WHERE {2}
        """.format(table, set_content, where_content)
        self.cursor.execute(sql_qr3)
        self.EF_DB.commit()

    def delete(self, table, where_content):
        sql_qr4 = """
            DELETE FROM {0} WHERE {1}
        """.format(table, where_content)
        self.cursor.execute(sql_qr4)
        self.EF_DB.commit()

In [2]:
db_test = Python2DB()

In [3]:
db_test.select('Category', '*')

((1, '사과'),)

In [4]:
db_test.insert('Category', 'category_idx,category_name', "2,'바나나'")
db_test.select('Category', '*')

((1, '사과'), (2, '바나나'))

In [5]:
db_test.update('Category', "category_name = '키위'", "category_idx = 2")
db_test.select('Category', '*')

((1, '사과'), (2, '키위'))

In [6]:
db_test.delete('Category', "category_idx = 2")
db_test.select('Category', '*')

((1, '사과'),)