## **DataBase**

### **연결**

In [1]:
import pymysql

EF_DB = pymysql.connect(host='220.90.200.176',
                       port=3306,
                       user='multi',
                       passwd='multi!)@(',
                       db = 'EasyFree',
                       charset='utf8')

cursor = EF_DB.cursor()

### **검색**

In [2]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'),)

### **삽입**

In [3]:
sql2 = """
    INSERT INTO Category(category_idx,category_name)
    VALUES (2,'바나나')
"""

cursor.execute(sql2)
EF_DB.commit()

In [4]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'), (2, '바나나'))

### **수정**

In [5]:
sql3 = """
    UPDATE Category
    SET category_name = '키위'
    WHERE category_idx = 2
"""

cursor.execute(sql3)
EF_DB.commit()

In [6]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'), (2, '키위'))

### **삭제**

In [8]:
sql4 = """
    DELETE FROM Category WHERE category_idx = 2
"""

cursor.execute(sql4)
EF_DB.commit()

In [9]:
sql = """
    SELECT * FROM Category
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((1, '사과'),)